<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><i class="fa fa-tasks"></i> Print jobs <a class="pull-right btn btn-primary" href="#"><i class="fa fa-plus"></i> New Job</a></h3>
        </div>
        <div class="panel-body jobtable">
          <table class="table">
            <thead>
              <th>Name</th>
              <th>To</th>
              <th>From</th>
              <th>Date</th>
              <th>Completed?</th>
              <th></th>
            </thead>
            <tbody>
              <tr>
                <td>3-INCH SALES RECEIPT</td>
                <td>DT BACK</td>
                <td>STH FRONT</td>
                <td>4/28</td>
                <td>Yes</td>
                <td>
                  <a href="#"><i class="fa fa-eye"></i></a>
                  |
                  <a href="#"><i class="fa fa-print"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>